In [47]:
import pandas as pd
from statsmodels.tsa.seasonal import seasonal_decompose
import matplotlib.pyplot as plt
df=pd.read_csv("avocado.csv")

In [103]:
#Elasticidad Precio-Demanda por Año

"""
Aquí añado las columnas de region y tipo de aguacate (normal y organico) para hacer varios analisis por region
"""

df_elast=df.loc[:,["Total Volume","AveragePrice","year","Date","region","type"]]
df_elast["Date"]=pd.to_datetime(df_elast["Date"])

elasticidad=price_vol["Total Volume"].pct_change()/price_vol["AveragePrice"].pct_change()


df_orden=df_elast.sort_values(by=['Date', "region"])

#aguacate convencional

conventional=df_orden.loc[df_orden['type'] == "conventional"].reset_index()

val_max_con=conventional.groupby(by=["year","region"]).agg({"Date":"max", "AveragePrice":"mean"})
val_min_con=conventional.groupby(by=["year","region"]).agg({"Date":"min", "AveragePrice":"mean"})

val_min_con

                               Date  AveragePrice
year region
2015 Albany              2015-01-04      1.171923
     Atlanta             2015-01-04      1.052308
     BaltimoreWashington 2015-01-04      1.168077
     Boise               2015-01-04      1.054038
     Boston              2015-01-04      1.144038
...                             ...           ...
2018 Syracuse            2018-01-07      1.258333
     Tampa               2018-01-07      1.209167
     TotalUS             2018-01-07      1.060000
     West                2018-01-07      0.980833
     WestTexNewMexico    2018-01-07      0.857500

[216 rows x 2 columns]

In [100]:
#aguacate organico

organic=df_orden.loc[df_orden['type'] == "organic"].reset_index()

val_max_org=organic.groupby(by=["year","region"]).agg({"Date":"max", "AveragePrice":"mean"})
val_min_org=organic.groupby(by=["year","region"]).agg({"Date":"min", "AveragePrice":"mean"})